{%extends 'base.html'%}
{%block title%}{{topic.title}} - {{topic.forum.name}}{%endblock%}
{%block corpo%}
<section class="page-header">
  <h1>{{topic.title}}</h1>
</section>

<section class="row">
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Usuario</th>
      <th colspan="4">Mensagem</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="info">{{topic.user.username}} <br />Postagens: {{topic.user.userextension.posts}}</td>
      <td class="success"><article>{{topic.body}}</article></td>
    </tr>
    <tr class="warning">
      <td>Data</td>
      <td>{{topic.datetime}}</td>
</table>
</section>
<section class="page-header">
  <h2>Respostas</h2>
</section>
{%for reply in topic.replys%}
<section class="row">
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Usuario</th>
      <th colspan="4">Mensagem</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="info">{{reply.user.username}} <br />Postagens: {{reply.user.userextension.posts}}</td>
      <td class="success"><article>{{reply.body}}</article></td>
    </tr>
    <tr class="warning">
      <td>Data</td>
      <td>{{reply.datetime}}</td>
</table>
</section>
{%endfor%}

{% if User %}
<section class="row">
  <form class="form-horizontal" method="POST" action="/post/reply/{{topic.id}}/">
    {% csrf_token %}
    <fieldset>
      <legend>Responder</legend>
      <section class="form-group">
        <label for="Corpo" class="col-lg-2 control-label">Corpo</label>
        <section class="col-lg-10">
          <textarea class="form-control" name="body" rows="3" id="textArea"></textarea>
          <span class="help-block">Escreva sua mensagem</span>
        </section>
      </section>
      <section class="form-group">
        <section class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Cancelar</button>
          <button type="submit" class="btn btn-primary">Responder</button>
        </section>
      </section>
    </fieldset>
  </form>
</section>

{%else%}
<section class="row"><article><p>Você precisa ter uma conta</p></article></section>
{%endif%}
{%endblock%}
