{%extends 'base.html'%}{%block title%}Index{%endblock title%}
{%block corpo%}


  <h3>({{forum.category}}) {{forum.name}}</h3>
  <div class="row">
    <a href="/post/{{forum.id}}" class="btn btn-primary">Novo topico</a>
  <div class="row">
    {%for topic in listtopic%}
    <div class="col-md-6">{{topic.title}}</div>
    <div class="col-md-3">{{topic.user.username}}</div>
    <div class="col-md-3">.{{topic.user.length_replys}}</div>
    {%endfor%}
  </div>


  <div class="pagination">
      <span class="step-links">
          {% if listtopic.has_previous %}
              <a href="?page={{ listtopic.previous_page_number }}">anterior</a>
          {% endif %}

          <span class="current">
              Pagina {{ listtopic.number }} de {{ listtopic.paginator.num_pages }}.
          </span>

          {% if listtopic.has_next %}
              <a href="/forum/{{forum.id}}/{{ listtopic.next_page_number }}">próximo</a>
          {% endif %}
      </span>
  </div>

{%endblock corpo%}
