{%extends 'base.html'%}{%block title%}Index{%endblock title%}
{%block corpo%}

<div class="page-header">
  <h1>Bootstrap grid examples</h1>
  <p class="lead">Basic grid layouts to get you familiar with building within the Bootstrap grid system.</p>
</div>

{%for cat in category%}
  <h3>{{cat.title}}</h3>
  <div class="row">
    {%for forum in cat.forums%}
    <div class="col-md-3">{{forum.name}}</div>
    <div class="col-md-6">.col-md-6</div>
    <div class="col-md-3">.col-md-3</div>
    {%endfor%}
  </div>
  {%endfor%}

{%endblock corpo%}
